<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section>
        <h1>MCQ</h1>
        <div>
            <form action="/submitform" method="POST">

                <ol>
                    <li>
                        <label>Which is capital of India ?</label> <br />
                        <input type="radio" name='capital_india' required value="New Delhi"> New Delhi <br />
                        <input type="radio" name='capital_india' required value="Rajasthan"> Rajasthan <br />
                        <input type="radio" name='capital_india' required value="Goa"> Goa <br />
                        <input type="radio" name='capital_india' required value="Bihar"> Bihar <br />
                    </li>
                    <li>
                        <label>Which is capital of Rajasthan ?</label> <br />
                        <input type="radio" name="capital_rajasthan" required value="New Delhi"> Ndf <br />
                        <input type="radio" name="capital_rajasthan" required value="Jaipur"> Jaipur <br />
                        <input type="radio" name="capital_rajasthan" required value="Ajmer"> Ajmer <br />
                        <input type="radio" name="capital_rajasthan" required value="Bikaner"> Bikaner <br />
                    </li>
                </ol>

                <button type="submit">Submit</button>
            </form>
        </div>
    </section>
</body>

</html>